@charset "UTF-8";
.logo-wrap a {
  padding: 27px;
}

.nav {
  display: flex;
}

.nav-bar {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  vertical-align: middle;
}

.nav-bar::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  bottom: 21px;
}

.nav-bar::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  bottom: 23px;
}

.logo-wrap {
  position: fixed;
  width: 100%;
  background: #000;
  height: 72px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 17px;
  z-index: 10;
}

.logo-image {
  height: 22px;
}

.bg-img {
  background: url(../images/mvis_01.jpg) no-repeat center center/cover;
  height: 100vh;
}

.phrase {
  position: absolute;
  color: white;
  top: 50%;
  left: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.phrase h2 {
  font-size: 5.5em;
  font-weight: 900;
  line-height: 92px;
}

.phrase p {
  font-size: 1.5em;
  margin-top: 25px;
  font-weight: 500;
}

.phrase strong {
  font-weight: 600;
}

.sns {
  width: 13%;
  position: absolute;
  bottom: 45px;
  left: 15px;
}

.sns-list {
  display: flex;
  justify-content: space-around;
  margin: 45px;
}

.sns-list li a img {
  width: 50%;
}

.solution {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}

.solution h2 {
  font-size: 3em;
  font-weight: 800;
}

.subtitle-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5em;
}

.subtitle-box h2::after {
  content: ".";
  color: red;
}

.rec-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.rec-list li {
  position: relative;
}

.rec-list a {
  display: block;
  padding: 40px 50px 75px 30px;
}

.rec-list .icons {
  position: absolute;
  background-image: url(../images/ic_list_01.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: 253px;
  top: 37px;
  right: 40px;
}

.rec-list .i2 {
  background-position: -38px;
}

.rec-list .i3 {
  background-position: -77px;
}

.rec-list .i4 {
  background-position: -124px;
}

.rec-list .i5 {
  background-position: -170px;
}

.rec-list .i6 {
  background-position: -211px;
}

.rec-list .arrow:before {
  content: "";
  display: block;
  position: absolute;
  left: 32px;
  bottom: 44px;
  width: 43px;
  height: 2px;
  background: #000;
}

.rec-list .arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 75px;
  bottom: 40px;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #000;
}

.rec-list h3 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 19px;
}

.rec-list p {
  font-size: 16px;
  line-height: 1.7em;
}

.subtitle-box .bar {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 600;
  position: relative;
  margin-top: 29px;
  left: -13%;
}

.subtitle-box .bar::before {
  content: "";
  display: block;
  top: 9%;
  left: -23%;
  width: 60px;
  height: 3px;
  background: #000;
  position: absolute;
}

.suggestion .subtitle-box .bar::before {
  background: #fff;
  left: -32%;
}

.suggestion .subtitle-box .bar {
  left: -20%;
  opacity: 1;
}

.suggestion {
  background: url(../images/business_02.jpg) no-repeat center center/cover;
  height: 100vh;
  color: white;
}

.suggestion h2 {
  font-size: 3em;
  font-weight: 800;
}

.suggestion .content-box {
  padding: 6% 16% 0;
}

.suggestion .subtitle-box {
  display: flex;
  margin-bottom: 3.5em;
  justify-content: space-between;
}

.suggestion ul {
  border-collapse: collapse;
}

.suggestion li {
  display: table-cell;
  border: 1px solid #6a6865;
  background: transparent;
  padding: 40px 40px 0 40px;
}

.suggestion a {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: 510px;
}

.suggestion strong {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
  padding-top: 140px;
}

.suggestion .suggest-icon {
  position: absolute;
  background-image: url(../images/ic_list_02.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 70px;
  display: block;
  background-position: 0px 0px;
  background-size: 240px;
  top: 40px;
  left: 85px;
}

.suggestion .i2 {
  background-position: -60px;
}

.suggestion .i3 {
  background-position: -119px;
  width: 61px;
  left: 100px;
}

.suggestion .i4 {
  background-position: -180px;
}

.suggestion p {
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
  text-align: left;
  opacity: 0.5;
  word-break: keep-all;
}

.analyze {
  background: url(../images/bg_msec03.jpg) no-repeat center center/cover;
  height: 100vh;
}

.analyze h2 {
  font-size: 3em;
  font-weight: 800;
}

.analyze .content-box {
  padding: 6% 16% 0;
}

.analyze ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  padding-left: 40%;
  padding-top: 5%;
}

.analyze a {
  display: block;
  color: black;
  margin-bottom: 28px;
}

.analyze ul p {
  line-height: 1.6em;
  padding-top: 13px;
}

.analyze strong {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 13px;
}

.analyze .arrow {
  position: relative;
}

.analyze .arrow::before {
  content: "";
  display: block;
  position: absolute;
  left: 298px;
  top: -15px;
  width: 29px;
  height: 2px;
  background: black;
}

.analyze .arrow::after {
  width: 0px;
  content: "";
  display: block;
  position: absolute;
  left: 319px;
  bottom: 9px;
  width: 7px;
  height: 7px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.analyze strong::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 330px;
  height: 3px;
  background: #010101;
}

.introduce {
  background: url(../images/bg_msec04.jpg) no-repeat center center/cover;
  height: 100vh;
  color: white;
}

.introduce h2 {
  font-size: 3em;
  font-weight: 600;
}

.introduce .content-box {
  padding: 11% 16% 0;
}

.introduce ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.introduce li {
  padding-top: 100px;
}

.introduce strong {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

.introduce p {
  font-size: 18px;
  line-height: 1.8em;
  word-break: keep-all;
  width: 73%;
}

.introduce strong::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 30px 0 30px 3px;
}

.record {
  background: url(../images/bg_msec05.jpg) no-repeat center center/cover;
  height: 100vh;
  color: white;
}

.record h2 {
  font-size: 3em;
  font-weight: 600;
}

.record img {
  display: block;
}

.record .content-box {
  padding: 6% 16% 0;
}

.record p {
  max-width: 800px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
  padding: 12px 70px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  text-align: center;
  margin-top: 40px;
}

.find {
  height: 100vh;
}

.find .content-box {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 100px 0px;
}

.find h2 {
  font-size: 3em;
  font-weight: 700;
}

.find ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.find a {
  display: block;
  color: #010101;
  margin-bottom: 28px;
}

.find p {
  padding-top: 5%;
}

.find strong {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 13px;
}

.find strong::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 3px;
  background: #000000;
}

.find .arrow {
  position: relative;
}

.find .arrow::before {
  content: "";
  display: block;
  position: absolute;
  left: 268px;
  top: -15px;
  width: 29px;
  height: 2px;
  background: black;
}

.find .arrow::after {
  content: "";
  display: block;
  position: absolute;
  left: 289px;
  bottom: 9px;
  width: 7px;
  height: 7px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.inbox {
  top: 40px;
  height: 188px;
  background: red;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.28);
  z-index: 10;
  color: white;
  width: 71%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.phone-num {
  font-size: 44px;
  font-weight: 900;
}

.inbox h3 {
  font-size: 26px;
  font-weight: 800;
}

.txt_area {
  padding-left: 9%;
}

.inbox button {
  width: 30%;
  height: 100px;
  background: red;
  border-radius: 4px;
  border: 3px solid #fff;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  float: right;
  margin-right: -12%;
}

.inbox fieldset {
  border: none;
}

/* 
    원래 css 주석문
*/
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li,
blockquote, fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
  font-weight: inherit;
}

ul, ol, li {
  list-style: none;
}

i, em, address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  border: 1px solid red;
}

fieldset {
  border: none;
  /* border:0 */
  /* border: width style color */
}

button {
  cursor: pointer;
}

.blind, hr, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

/*# sourceMappingURL=common.css.map */
